
<label #switchWrapper class="switch" [ngClass]="{ 'checked': value }">
    <div #slider class="slider round"></div>
    <div class="switch-content">
        <div class="switch-content-background">
        </div>
        <div #switchContentTrue class="switch-content-true">
            On
        </div>
        <div #switchContentFalse class="switch-content-false">
            Off
        </div>
    </div>
    <input (click)="switchToggle()" type="checkbox" class="switch-input" [value]="value" [attr.checked]="value" [id]="id">
</label>
