
div.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 30px;
  padding: 3px;
  //background-color: none;
  cursor: pointer;
  overflow: visible;
}

.switch:focus {
  outline: 0;
}

.switch:focus-within {
  //outline: 2px solid Highlight;
  outline: 0;
}

.switch-content-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  //background-color: rgba(127, 2, 0, 0.72);
  box-shadow: inset 0 3px 6px #dcdfe3;
  z-index: -1;
}

.switch-content-true{
  color: white;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  //background: #ccc;
  //border-radius: 4px;
  //transition: 0.15s ease-out;
  //transition-property: opacity background;
  color: #2d2d2d;
}

.switch-label::before, .switch-label::after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  //transition: inherit;
}

//.switch-label::before {
//  content: attr(data-off);
//  right: 11px;
//  color: #fff;
//}
//
//.switch-label::after {
//  content: attr(data-on);
//  left: 11px;
//  color: #fff;
//  opacity: 0;
//}

.switch-handle {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #2d2d2d;
  //transition: left 0.15s ease-out;
}

//.checked .switch-label {
//  //background: #4CAF50;
//  //box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 0 3px rgba(0, 0, 0, 0.15);
//}
//
//.checked .switch-label::before {
//  opacity: 0;
//}
//
//.checked .switch-label::after {
//  opacity: 1;
//}
//
//.checked .switch-handle {
//  left: 50px;
//  box-shadow: -1px 1px 5px rgba(45, 45, 45, 0.41);
//}
