
.hud {
  //display: inherit;
  padding: 15px;
  background-color: rgba(41, 104, 160, 95);
  color: rgba(206, 212, 218, 1);
}

$shadow-test: inset 0 3px 6px rgba(229, 233, 237, 0.75);

/*
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
*/
#app-wrapper {
  overflow-x: hidden;
  @media (max-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}


/*
///////////////////////////////////////////////////////////////////////////
Modal
///////////////////////////////////////////////////////////////////////////
*/

.href-style-only {
  color: #004ea8;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.href-style-only:hover {
  color: #002a5c;
  text-decoration: underline;
  background-color: transparent;
}


.modal-wrapper {
  position: relative;
  height: 570px;
  overflow: hidden;

  .modal-divider {
    hr {
      align: center;
      width: 100%;
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
      border-color: $standard-grey-7;
    }

  }

  .modal-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 430px;
  }
}

.modal-button-wrapper {
  //position: absolute;
  //bottom: 0px;
  height: 50px;
  background-color: white;
  //border-color: blue;
  //border-style: dashed;

  .button-position {
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  .modal-button {
    width: 100%;

    .btn {
      width: 150px;
      height: 40px;
      font-size: 18px;
      border-radius: 0 !important;
    }
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.0);
}

/*
///////////////////////////////////////////////////////////////////////////
Results Display
///////////////////////////////////////////////////////////////////////////
*/
.results-message-wrapper {
  height: 256px;
}

.results-content-display {
  .results-column-wrapper {
    position: relative;
    height: 256px;

    .results-column {
      position: absolute;
      bottom: 0px;
    }
  }
}

.results-wrapper {
  padding-bottom: 50px;
}

#results-column-1 {
  max-width: 44%;
  margin-left: 15px;

  #results-bar-1 {
    background: $standard-orange-gradient-0-1;
    min-height: 1px;
  }
}

#results-column-2 {
  max-width: 44%;
  margin-left: auto;
  margin-right: 15px;

  #results-bar-2 {
    background: $standard-blue-gradient-0-1;
    min-height: 1px;
  }
}

.per-month-wrapper {
  min-height: 21px;
  margin-top: 10px;
  margin-bottom: -10px;
}

/*
///////////////////////////////////////////////////////////////////////////
Form elements
///////////////////////////////////////////////////////////////////////////
*/
.form-group-wrapper {
  white-space: nowrap;
}

input {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  box-sizing: content-box;
  color: $standard-grey;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

input.input-age {
  width: 56px;
  box-sizing: border-box;
}

input.input-currency {
  width: auto;
  max-width: 140px;
  box-sizing: border-box;
}

input:focus {
  //border-bottom: 2px solid $standard-blue-1;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 2px solid $standard-blue-1;
  box-shadow: 0 1px 0 0 $standard-blue-1;
  caret-color: $standard-blue-1;
}


label {
  //margin-top: 8px;
  //margin-bottom: 8px;
}

.label-with-icon {
  float: left;
}

/*
///////////////////////////////////////////////////////////////////////////
Validation Classes
///////////////////////////////////////////////////////////////////////////
*/
//input.ng-invalid.ng-touched {
input.ng-invalid {
  color: $standard-red-1;
  border-bottom: 1px solid $standard-red-1;
  box-shadow: 0 1px 0 0 $standard-red-1;
}

span.ng-invalid {
  cursor: pointer;
  //input.ng-invalid {
  color: $standard-red-1;
  //border-bottom: 1px solid $standard-red-1;
  //box-shadow: 0 1px 0 0 $standard-red-1;
}

.validation-error-wrapper {
  //margin-top: 10px;
  height: 26px;

}

.top-input-validation-wrapper {
  min-height: 70px;
}

/*
///////////////////////////////////////////////////////////////////////////
My Numbers Toggle Component
///////////////////////////////////////////////////////////////////////////
*/
.toggle-button {
  cursor: pointer;
}

.symbols-wrapper {
  position: relative;

  .toggle-symbols {
    position: absolute;
    top: 0;
    font-size: 1.5rem; //24
    font-weight: 800;
    text-align: center;
    color: $standard-blue-dark-1;
  }
}

#symbol-plus {
  left: 5px;
}

#toggle-area {
  overflow: hidden;
  //border: #6ba7ea;
  //border-style: dashed;
  //border-width: thin;
}

/*
///////////////////////////////////////////////////////////////////////////
Input and Range Slider Component
///////////////////////////////////////////////////////////////////////////
*/

.input-range-slider-wrapper {
  position: relative;
  margin-top: 17px;
  height: 35px;

  .input-range-slider {

    svg {
      width: 100%;
      height: 100%;
    }

    .range-slider-input-field {
      width: 100%;
    }

    $input-thumb-height: 24px;
    $input-thumb-width: 24px;
    $input-active-thumb-height: 30px;
    $input-active-thumb-width: 30px;
    $track-height: 8px;
    $thumb-bg: #33A2D9;
    $track-bg: #d3d3d3;

    @mixin slider-thumb {
      width: $input-thumb-width;
      height: $input-thumb-height;
      border-radius: 50%;
      border-color: $standard-blue-2;
      background-color: $standard-blue-2;
      box-shadow: 1px 1px 4px 0 $standard-blue-dark-2;
      cursor: grab;
      //cursor: ew-resize;
      appearance: none;
      outline: none;
      margin-top: -($input-thumb-height - ($track-height /2))/2;
    }

    @mixin slider-thumb-active {
      width: $input-active-thumb-width;
      height: $input-active-thumb-height;
      background-color: $standard-blue-2;
      box-shadow: 1px 1px 4px 0 $standard-blue-dark-2;
      cursor: grab;
      appearance: none;
      outline: none;
      border-color: $standard-blue-1;
      border-radius: $input-active-thumb-height/2;
    }

    @mixin slider-track {
      height: $track-height;
      border-color: $standard-grey-6;
      border-style: solid;
      border-width: 1px;
      border-radius: $track-height/2;
      box-shadow: inset 0 3px 6px rgba(187, 191, 195, 0.5);
      appearance: none;
      outline: none;
    }


    /*
    ///////////////////////////////////////////////////////////////////////////
    Chrome Range Slider
    ///////////////////////////////////////////////////////////////////////////
    */
    .range-slider-webkit[type=range] {
      width: 100%;
      height: $track-height;
      -webkit-appearance: none;
      border-color: $standard-grey-6;
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .25s;
      box-shadow: inset 0 3px 6px rgba(187, 191, 195, 0.5);
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 50%, #fff 50%, #fff 100%);
      cursor: pointer;
    }

    .range-slider-webkit[type=range]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include slider-track;
    }

    .range-slider-webkit[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include slider-thumb;
    }

    .range-slider-webkit[type=range]::-webkit-slider-thumb {
      &:hover, &:focus, &:active {
        opacity: 1;
        outline: none;
        border-bottom: none;
      }
    }

    .range-slider-active-webkit[type=range] {
      width: 100%;
      height: $track-height;
      -webkit-appearance: none;
      border-color: $standard-grey-6;
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .25s;
      box-shadow: inset 0 3px 6px rgba(187, 191, 195, 0.5);
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 50%, #fff 50%, #fff 100%);
      cursor: pointer;
    }

    .range-slider-active-webkit[type=range]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include slider-track;
    }

    .range-slider-active-webkit[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -12px;
      @include slider-thumb-active;
    }

    .range-slider-active-webkit[type=range]::-webkit-slider-thumb {
      &:hover, &:focus, &:active {
        opacity: 1;
        outline: none;
        border-bottom: none;
      }
    }

    /*
    ///////////////////////////////////////////////////////////////////////////
    Firefox Range Slider
    ///////////////////////////////////////////////////////////////////////////
    */
    .range-slider-moz[type=range] {
      width: 100%;
      height: $track-height;
      appearance: none;
      outline: none;
      opacity: 0.7;
      -moz-transition: .25s;
      box-shadow: inset 0 3px 6px rgba(187, 191, 195, 0.5);
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 50%, #fff 50%, #fff 100%);
      cursor: pointer;
      outline: none;
      //border: none;
      border: 1px solid white;
      border-radius: $track-height / 2;
    }

    .range-slider-moz[type=range]::-moz-range-track {
      -moz-appearance: none;
      @include slider-track;
      border: none;
    }

    .range-slider-moz[type=range]::-moz-range-thumb {
      -moz-appearance: none;
      @include slider-thumb;
      border: none;
    }

    .range-slider-moz[type=range]::-moz-range-thumb {
      &:hover, &:focus, &:active {
        opacity: 1;
        outline: none;
        border: none;
      }
    }

    range-slider-moz[type=range]::-moz-focus-outer {
      border: 0;
    }

    .range-slider-active-moz[type=range] {
      width: 100%;
      height: $track-height;
      opacity: 1.0;
      -moz-transition: .25s;
      box-shadow: inset 0 3px 6px rgba(187, 191, 195, 0.5);
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 50%, #fff 50%, #fff 100%);
      cursor: pointer;
      outline: none;
      border-radius: $track-height / 2;
      border: 1px solid white;
    }

    .range-slider-active-moz[type=range]::-moz-range-track {
      @include slider-track;
      border: 1px solid white;
    }

    .range-slider-active-moz[type=range]::-moz-range-thumb {
      margin-top: -12px;
      @include slider-thumb-active;
      border: 1px solid white;
    }

    .range-slider-active-moz[type=range]::-moz-range-thumb {
      &:hover, &:focus, &:active {
        opacity: 1;
        outline: none;
        border: 1px solid white;
      }
    }

    range-slider-active-moz[type=range]::-moz-focus-outer {
      border: 1px solid white;
    }

    /*
    ///////////////////////////////////////////////////////////////////////////
    MS Range Slider
    ///////////////////////////////////////////////////////////////////////////
    */
    .range-slider-ms[type=range] {
      width: 100%;
      //height: $input-active-thumb-height;
      height: 35px;
      background: $white;
      appearance: none;
      cursor: pointer;
      outline: none;
      border: 1px solid white;
      border-radius: 4px;
      box-shadow: none !important;
    }

    .range-slider-ms[type=range]::-ms-track {
      @include slider-track;
      border: 1px solid white;
    }

    .range-slider-ms[type=range]::-ms-fill-upper {
      background: transparent;
    }

    .range-slider-ms[type=range]::-ms-fill-lower {
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 100%);
    }

    .range-slider-ms[type=range]::-ms-thumb {
      @include slider-thumb;
      margin-top: 0;
    }

    .range-slider-ms[type=range]:hover, &:focus, &:active {
      outline: none;
      box-shadow: none !important;
      margin-top: 0;
      border: 1px solid white;
    }

    .range-slider-ms[type=range]::-ms-ticks-before, &::-ms-ticks-after {
      color: transparent;
    }

    .range-slider-ms[type=range]::-ms-ticks-before {
      display: none;
    }

    .range-slider-ms[type=range]::-ms-track {
      color: transparent;
    }

    .range-slider-ms[type=range]::-ms-ticks-after {
      display: none;
    }

    .range-slider-active-ms[type=range] {
      width: 100%;
      //height: $input-active-thumb-height;
      height: 35px;
      background: $white;
      appearance: none;
      cursor: pointer;
      outline: none;
      border: 1px solid white;
      border-radius: 4px;
      box-shadow: none !important;
    }

    .range-slider-active-ms[type=range]::-ms-track {
      @include slider-track;
      border: 1px solid white;
    }

    .range-slider-active-ms[type=range]::-ms-fill-upper {
      background: transparent;
    }

    .range-slider-active-ms[type=range]::-ms-fill-lower {
      background: linear-gradient(to right, rgba(117, 208, 244, 1) 0%, rgb(0, 147, 209) 100%);
    }

    .range-slider-active-ms[type=range]::-ms-thumb {
      @include slider-thumb-active;
      margin-top: -3px;
    }

    .range-slider-active-ms[type=range]:hover, &:focus, &:active {
      outline: none;
      box-shadow: none !important;
      margin-top: 0;
      border: 1px solid white;
    }

    .range-slider-active-ms[type=range]::-ms-ticks-before {
      display: none;
    }

    .range-slider-active-ms[type=range]::-ms-track {
      color: transparent;
    }

    .range-slider-active-ms[type=range]::-ms-ticks-after {
      display: none;
    }

    .value-type-symbol {
      position: absolute;
      top: 0;
      left: 90px;
      text-align: left;
      font-size: 1.5rem;
      font-weight: 600;
      color: rgba(80, 80, 80, 0.65);
      background-color: transparent;
      border: none;
      pointer-events: none;
    }
  }
}

#invisibleTextID {
  white-space: pre; //nowrap;

  position: absolute;
  height: 0;
  overflow: hidden;

  //visibility: auto;
  //color: red
}

/*
///////////////////////////////////////////////////////////////////////////
Tool Tip Component
///////////////////////////////////////////////////////////////////////////
*/

.tool-tip-component {
  position: absolute;
  top: 0;
}

.tool-tip-wrapper {
  position: absolute;
  top: 20px;
  left: 4px;
  bottom: 0;
  width: 16px;
  height: 16px;
  //margin-left: 7px;

  svg {
    width: 100%;
    height: 100%;
  }

  .tool-tip-icon-wrapper {
    position: absolute;
    bottom: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .tool-tip-dialogue-wrapper {
    position: absolute;
    left: -135px;
    bottom: 24px;
    width: 285px;
  }
}

.tool-tip-content-box {
  position: absolute;
  //bottom: 25px;
  bottom: 44px;
  width: 285px;
  height: auto;
  background: $standard-blue-light-1;
  color: $standard-grey;
  padding: 15px;
  box-shadow: 0 5px 8px $standard-grey-4;
}

.tool-tips-tip-icon {
  position: absolute;
  left: 131px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
}

/*
///////////////////////////////////////////////////////////////////////////
toggle-on-off-component
///////////////////////////////////////////////////////////////////////////
*/
.toggle-on-off-component {

}

.switch {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 26px;
}

.switch-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 26px;
  border-radius: 26px;

  div {
    float: left;
  }

  .switch-content-true {
    position: relative;
    width: 50%;
    text-align: center;
  }

  .switch-content-false {
    position: relative;
    width: 50%;
    text-align: center;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-color: $standard-grey-2;
  border-style: solid;
  border-width: 1px;
  //box-shadow: inset 0 3px 6px $standard-grey-2;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 50px;
  left: 0px;
  bottom: 0px;
  background-color: #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 26px;
}
