///* clean-css ignore:start */

#Progress-Spinner {
  background-color: #fafafa;
}

$offset: 187;
$duration: 1.4s;

.spinner-wrapper {
  margin-top: 250px;
}

.spinner {
  width: 65px;
  height: 65px;
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #004ea8;
  }
  25% {
    stroke: #6ba7ea;
  }
  50% {
    stroke: #f0daa6;
  }
  75% {
    stroke: #a4e086;
  }
  100% {
    stroke: #54b948;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

///* clean-css ignore:end */
