<!--<div class="row">
    <div class="col-12 hud">
        <div class="row">
            <div class="col-12 ">
                Current Age Value: {{ calculatorForm.value.currentAge }}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Retirement Age Value: {{ calculatorForm.value.retirementAge }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Annual Earned Value: {{ calculatorForm.value.annualEarned}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Total Saved Value: {{ calculatorForm.value.savedTotal }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                SS Income Value: {{ calculatorForm.value.ssIncome }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Income Percentage Value: {{ calculatorForm.value.incomePercentage }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Life Expectancy Value: {{ calculatorForm.value.lifeExpectancy }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Average investment growth Value: {{ calculatorForm.value.averageInvestmentGrowth }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Average annual pay increase Value: {{ calculatorForm.value.averagePayIncrease }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                Retirement plan contribution Value: {{ calculatorForm.value.retirementPlanContribution }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                lifeExpendToRetirementAgeValidator: {{ calculatorForm.errors?.lifeExpendToRetirementAgeValidator }}<br>
            </div>
        </div>
    </div>
</div>-->
<form [formGroup]="calculatorForm" (change)="update()">
    <div #formWrapper class="row">
        <div class="col-12 col-sm-6  justify-content-center">
            <div class=" form-group " data-lpignore="true">
                <div class="row no-gutters">
                    <div class="col-auto ">
                        <label class="col-form-label" for="current-age">
                            I'm
                            <input #currentAge type="number" formControlName="currentAge"
                                   [ngClass]="[calculatorForm.errors?.currentAgeGreaterThenRetirementAge ? 'ng-invalid ng-touched' : '']"
                                   class="input-age" id="current-age">
                            years old&nbsp;
                        </label>
                        <!--                        [ngClass]="[calculatorForm.errors?.lifeExpendToRetirementAgeValidator ? 'ng-invalid ng-touched' : '']"-->
                        <label class="col-form-label" for="retirement-age">and plan to retire when I’m
                            <input #retirementAge type="number" formControlName="retirementAge"
                                   [ngClass]="[calculatorForm.errors?.currentAgeGreaterThenRetirementAge ? 'ng-invalid ng-touched' : '', calculatorForm.errors?.lifeExpendToRetirementAgeValidator ? 'ng-invalid ng-touched' : '']"
                                   class="input-age"
                                   id="retirement-age">.
                            &nbsp;
                        </label>
                        <label class="col-form-label" for="annual-earned">I earn
                            <input #annualEarned type="text" formControlName="annualEarned"
                                   [value]="calculatorForm.value.annualEarned"
                                   class="input-currency" id="annual-earned" (input)="onChange($event,'annualEarned')"
                                   data-lpignore="true">
                            a year&nbsp;
                        </label>
                        <label class="col-form-label" for="saved-total"> and have saved a total of
                            <input #savedTotal type="text" formControlName="savedTotal"
                                   [value]="calculatorForm.value.savedTotal"
                                   class="input-currency" id="saved-total" (input)="onChange($event,'savedTotal')"
                                   data-lpignore="true">
                        </label>
                        <label class="col-form-label" for="saved-total">
                            for retirement so far.
                        </label>
                    </div>
                </div>
                <div class=" row top-input-validation-wrapper">
                    <div *ngIf="validation.currentAge.errors && (calculatorForm.touched || calculatorForm.dirty)"
                         (click)="focusField('currentAge')"
                         class="col-12 alert-validation-error">
                        Current age required.
                    </div>
                    <div *ngIf="validation.retirementAge.errors && (calculatorForm.touched || calculatorForm.dirty)"
                         (click)="focusField('retirementAge')"
                         class="col-12 alert-validation-error">
                        Retirement age required.
                    </div>
                    <div *ngIf="calculatorForm.errors?.currentAgeGreaterThenRetirementAge && (calculatorForm.touched || calculatorForm.dirty)"
                         (click)="focusField('retirementAge')"
                         class=" col-12 alert-validation-error">
                        Retirement age must be between your current age and 80.
                    </div>
                    <div *ngIf="validation.annualEarned.errors && (calculatorForm.touched || calculatorForm.dirty)"
                         (click)="focusField('annualEarned')"
                         class="col-12 alert-validation-error">
                        Annual earned required.
                    </div>
                    <div *ngIf="validation.savedTotal.errors && (calculatorForm.touched || calculatorForm.dirty)"
                         (click)="focusField('savedTotal')"
                         class="col-12 alert-validation-error">
                        Total saved required.
                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col-12">
                    <app-my-number-toggle (toggleState)="toggleAreaState($event)">
                    </app-my-number-toggle>
                </div>
            </div>
            <div #toggleArea class="row" id="toggle-area">
                <div class="col-12">
                    <div class="  row no-gutters ">
                        <div class="col-auto ">
                            <label for="ss-income" class=" col-form-label ">
                                I’ll receive Social Security income
                            </label>
                        </div>
                        <div class="col-auto ">
                            <app-tool-tip
                                    [toolTipContent]="'Social Security income reduces the total amount of money you might need to save on your own.'"
                                    class="">
                            </app-tool-tip>
                        </div>
                    </div>
                    <div class="  row">
                        <div class="col-12">
                            <app-toggle-on-off class="toggle-on-off-component" id="ss-income"
                                               formControlName="ssIncome">
                            </app-toggle-on-off>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="d-inline-block col-auto">
                            <label class=" col-form-label ">
                                Amount of my income I want to replace
                            </label>
                        </div>
                        <div class="d-inline-block  col-auto">
                            <app-tool-tip
                                    [toolTipContent]="'Most experts say you’ll need 70-90% of your current income to maintain your lifestyle in retirement.'"
                                    class="">
                            </app-tool-tip>
                        </div>
                    </div>
                    <div class="  row">
                        <div class="col-12">
                            <app-input-range-slider [valueType]="'percentage'" [minimumValue]="50" [maximumValue]="110"
                                                    [stepValue]="1"
                                                    [formGroup]="calculatorForm"
                                                    [inputRangeSliderFormControl]="calculatorForm.get('incomePercentage')"
                                                    [validationState]="calculatorForm.get('incomePercentage').invalid"
                                                    class="input-range-slider-component"
                                                    [idd]="'incomePercentage'"
                                                    formControlName="incomePercentage">
                            </app-input-range-slider>
                        </div>
                    </div>
                    <div class="per-month-wrapper row">
                        <div class="col-12 results-per-month-text-right">
                            {{perMonthReplace | currency:'USD': "symbol": '1.0-0'}} per month.
                        </div>
                    </div>
                    <div class="validation-error-wrapper row">
                        <div *ngIf="calculatorForm.get('incomePercentage').invalid"
                             (click)="focusField('incomePercentage')"
                             class="col-12 alert-validation-error-right">
                            Use a number between 1% and 200%.
                        </div>
                    </div>
                    <div class="  row no-gutters">
                        <div class="col-auto ">
                            <label class=" col-form-label ">
                                Life expectancy
                            </label>
                        </div>
                        <div class="col-auto ">
                            <app-tool-tip
                                    [toolTipContent]="'It’s smart to plan for a long retirement. A third of all 65-year-olds today will live into their 90s according to the Social Security Administration.'"
                                    class="">
                            </app-tool-tip>
                        </div>
                    </div>
                    <!--            {{calculatorForm.errors?.lifeExpendToRetirementAgeValidator}}-->
                    <div class="  row">
                        <div class="col-12">
                            <app-input-range-slider [valueType]="'generic'" [minimumValue]="70" [maximumValue]="120"
                                                    [stepValue]="1"
                                                    [formGroup]="calculatorForm"
                                                    [inputRangeSliderFormControl]="calculatorForm.get('lifeExpectancy')"
                                                    [validationState]="calculatorForm.errors?.lifeExpendToRetirementAgeValidator"
                                                    class="input-range-slider-component"
                                                    [idd]="'lifeExpectancy'"
                                                    formControlName="lifeExpectancy">
                            </app-input-range-slider>
                        </div>
                    </div>
                    <div class="per-month-wrapper row">
                        <div class="col-12 results-per-month-text-right">
                        </div>
                    </div>
                    <div class="validation-error-wrapper row">
                        <div *ngIf="calculatorForm.errors?.lifeExpendToRetirementAgeValidator"
                             (click)="focusField('lifeExpectancy')"
                             class="col-12 alert-validation-error-right">
                            Use a number between your retirement age and 120.
                        </div>
                    </div>
                    <div class="  row no-gutters">
                        <div class="col-auto ">
                            <label class=" col-form-label ">
                                Average investment growth
                            </label>
                        </div>
                        <div class="col-auto ">
                            <app-tool-tip
                                    [toolTipContent]="'This includes salary increases and cost-of-living adjustments.'"
                                    class="">
                            </app-tool-tip>
                        </div>
                    </div>
                    <div class="  row">
                        <div class="col-12">
                            <app-input-range-slider [valueType]="'percentage'" [minimumValue]="0" [maximumValue]="15"
                                                    [stepValue]="0.1"
                                                    [formGroup]="calculatorForm"
                                                    [inputRangeSliderFormControl]="calculatorForm.get('averageInvestmentGrowth')"
                                                    [validationState]="calculatorForm.get('averageInvestmentGrowth').invalid"
                                                    class="input-range-slider-component"
                                                    [idd]="'averageInvestmentGrowth'"
                                                    formControlName="averageInvestmentGrowth">
                            </app-input-range-slider>
                        </div>
                    </div>
                    <div class="per-month-wrapper row">
                        <div class="col-12 results-per-month-text-right">
                        </div>
                    </div>
                    <div class="validation-error-wrapper row">
                        <div *ngIf="calculatorForm.get('averageInvestmentGrowth').invalid"
                             (click)="focusField('averageInvestmentGrowth')"
                             class="col-12 alert-validation-error-right">
                            Use a number between 0% and 25%.
                        </div>
                    </div>
                    <div class="  row no-gutters">
                        <div class="col-auto ">
                            <label class=" col-form-label ">
                                Average annual pay increase
                            </label>
                        </div>
                        <div class="col-auto ">
                            <app-tool-tip
                                    [toolTipContent]="'Most experts say you’ll need 70-90% of your current income to maintain your lifestyle in retirement.'"
                                    class="">
                            </app-tool-tip>
                        </div>
                    </div>
                    <div class="  row">
                        <div class="col-12">
                            <app-input-range-slider [valueType]="'percentage'" [minimumValue]="0" [maximumValue]="10"
                                                    [stepValue]="0.1"
                                                    [formGroup]="calculatorForm"
                                                    [inputRangeSliderFormControl]="calculatorForm.get('averagePayIncrease')"
                                                    [validationState]="calculatorForm.get('averagePayIncrease').invalid"
                                                    class="input-range-slider-component"
                                                    [idd]="'averagePayIncrease'"
                                                    formControlName="averagePayIncrease">
                            </app-input-range-slider>
                        </div>
                    </div>
                    <div class="per-month-wrapper row">
                        <div class="col-12 results-per-month-text-right">
                        </div>
                    </div>
                    <div class="validation-error-wrapper row">
                        <div *ngIf="calculatorForm.get('averagePayIncrease').invalid"
                             (click)="focusField('averagePayIncrease')"
                             class="col-12 alert-validation-error-right">
                            Use a number between 0% and 10%.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  justify-content-center">
            <div class=" row">
                <div class="col-12 results-wrapper">
                    <app-results></app-results>
                </div>
            </div>
            <div class="  row no-gutters">
                <div class="col-auto ">
                    <label class=" col-form-label ">
                        My retirement plan contribution
                    </label>
                </div>
                <div class="col-auto ">
                    <app-tool-tip
                            [toolTipContent]="'This is the part of your paycheck that goes into your retirement account. Don’t forget to include Roth and employer contributions.'"
                            class="">
                    </app-tool-tip>
                </div>
            </div>
            <div class=" row mx-auto">
                <div class="col-12">
                    <!--                <div class="col-12 col-sm-11 col-lg-12">-->
                    <app-input-range-slider [valueType]="'percentage'" [minimumValue]="0" [maximumValue]="25"
                                            [stepValue]="0.1"
                                            [formGroup]="calculatorForm"
                                            [inputRangeSliderFormControl]="calculatorForm.get('retirementPlanContribution')"
                                            [validationState]="calculatorForm.get('retirementPlanContribution').invalid"
                                            class="input-range-slider-component"
                                            [idd]="'retirementPlanContribution'"
                                            formControlName="retirementPlanContribution">
                    </app-input-range-slider>
                </div>
            </div>
            <div class="per-month-wrapper row mx-auto">
                <div class="col-12 results-per-month-text-right">
                    {{perMonthContribution | currency:'USD': "symbol": '1.0-0'}} per month.
                </div>
            </div>
            <div class="validation-error-wrapper row">
                <div *ngIf="calculatorForm.get('retirementPlanContribution').invalid"
                     (click)="focusField('retirementPlanContribution')"
                     class="col-12 col-sm-11 col-lg-12 alert-validation-error-right">
                    Use a number between 0% and 100%.
                </div>
            </div>
            <br><br>
            <div class=" row">
                <div class="col-12 note-text">
                    These estimates are shown in today’s dollars. Learn more about
                    <span
                            class="href-style-only"
                            (click)="openDialog()"
                    >
                        how we calculated your results.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>



