<div class="modal-wrapper ">
    <div class=" container-fluid">
        <div class=" row">
            <div class="col-12">
                <div class=" row">
                    <div class="col-12 ">
                        <div mat-dialog-title class="modal-head-text">How We Calculate Your Results</div>
                        <hr>
                    </div>
                </div>
                <mat-dialog-content class="mat-typography">
                    <div class=" modal-content">
                        <div class=" row">
                            <div class="col-12 modal-body-text">
                                All calculations are pre-tax and are presented in today’s dollars.
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-12 modal-subhead-text">
                                How We Calculate Your Savings Goal
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-12 modal-subhead-text">
                                To estimate how much money you might need for retirement, we look at:
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-12 modal-body-text">
                                <ul>
                                    <li>
                                        <span class="modal-subhead-text">Your pre-retirement income:</span> We grow your
                                        annual
                                        income by your average annual pay increase
                                        until your retirement.
                                    </li>
                                    <li>
                                        <span class="modal-subhead-text">The amount of income you think you’ll spend each month in retirement:</span>
                                        We multiple your
                                        pre-retirement income by the percent you want to replace. This determines how
                                        much money
                                        you’ll need during your first year of retirement.
                                    </li>
                                    <li>
                                        <span class="modal-subhead-text">Adjustments for inflation:</span> We increase
                                        your
                                        income
                                        by 2.3% each subsequent year to keep up
                                        with inflation.
                                    </li>
                                    <li>
                                        <span class="modal-subhead-text">Social Security income:</span> Then we subtract
                                        your
                                        estimated Social Security benefits, if you
                                        plan to receive social Security income. This income reduces the amount you may
                                        need to
                                        save.
                                        See below for more details on how we estimate your Social Security income.
                                    </li>
                                    <li>
                                        <span class="modal-subhead-text">Total savings needed:</span> Finally, we come
                                        up with
                                        the
                                        total amount of savings necessary to
                                        generate the annual income you’ll need in retirement. We do this by determining
                                        the
                                        amount
                                        needed to purchase a fixed income annuity, with inflation-adjusted payments,
                                        growing at
                                        the
                                        same rate as your investments. The cost to purchase this hypothetical annuity is
                                        your
                                        target
                                        savings goal.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </mat-dialog-content>
            </div>
            <div class="modal-button-wrapper container-fluid">
                <div class="row button-position">
                    <div class="col-12 mx-auto">
                        <div class="modal-button ">
                            <mat-dialog-actions align="center">
                                <button type="button" class="btn btn-primary rounded-0 " mat-button mat-dialog-close>
                                    Close
                                </button>
                            </mat-dialog-actions>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
