<div #inputRangeSliderWrapper class="input-range-slider-wrapper">
    <form [formGroup]="formGroup" class="row  input-range-slider">
        <div class="col-8 col-md-9">
            <div class="input-range-slider-wrapper ">
                <input #rangeSlider
                       type="range"
                       [min]="minimumValue"
                       [max]="maximumValue"
                       [step]="stepValue"
                       class=" range-slider "
                       name="inputRange"
                       formControlName="inputRange"
                       [value]="value"
                       (change)="onValueChanged(inputField.value)"
                       (input)="onValueChanged(inputField.value)"
                       (focus)="inputRangeFocus($event)"
                       (focusout)="inputRangeLoseFocus($event)"
                       (mouseover)="inputRangeFocus($event)"
                       (mouseout)="inputRangeLoseFocus($event)"
                >
            </div>
        </div>
        <div class="col-4 col-md-3">
            <input #inputField
                   type="text"
                   appInputOnlyNumbers
                   [ngClass]="validationState ? 'ng-invalid' : 'ng-valid'"
                   class=" range-slider-input-field"
                   [id]="idd"
                   name="inputText"
                   [min]="minimumValue"
                   [max]="maximumValue"
                   formControlName="inputText"
                   [value]="value"
                   (input)="onValueChanged(inputField.value)"
                   data-lpignore="true"
            >
            <div #inputFieldSymbol
                 class="value-type-symbol">
                <span
                        *ngIf="valueType === 'percentage'"
                        [ngClass]="validationState ? 'ng-invalid' : 'ng-valid'">
                    %
                </span>
            </div>
        </div>
    </form>
</div>
<span
    #invisibleText
    id="invisibleTextID">
  {{ inString }}
</span>
