<div class="results-message-wrapper row">
    <div class="col-12 ">
        <div class=" row">
            <div class="col-12 sub-head-text-light">
                {{graphMessageHead}}
            </div>
        </div>
        <div class=" row">
            <div class="col-12 body-text">
                {{graphMessageBody}}
            </div>
        </div>
    </div>
</div>
<div class="results-content-display row ">
    <div class="col-6 " id="results-column-1">
        <div class="results-column-wrapper row">
            <div class="results-column  col-12">
                <!--You may have
                <strong id="have-cash-count">
                    {{output.willHaveTdyDlr| currency:"$"}}
                </strong>
                <strong id="have-cash-count">
                    ({{youMayHaveMonthly | currency:"$"}} /mo.)
                </strong>-->
                <div class=" row">
                    <div class="results-values-text col-12 text-center">
                        {{displayData.graphHaveVal | currency:'USD': "symbol": '1.0-0'}}
                    </div>
                </div>
                <div #resultsBar1 class="row" id="results-bar-1">
                    <div class="results-content-display-bar1 col-12">
                    </div>
                </div>
                <div class=" row">
                    <div class="results-head-text col-12 text-center">
                        I might have
                    </div>
                </div>
                <div class=" row">
                    <div class="results-per-month-text col-12 text-center">
                        About {{displayData.youMayHaveMonthly | currency:'USD': "symbol": '1.0-0'}} /mo
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 " id="results-column-2">
        <div class="results-column-wrapper row">
            <div class="results-column  col-12">
                <!--You will need at least
                <strong id="need-cash-count">
                    {{output.willNeedTdyDlr| currency:"$"}}
                </strong>
                <strong id="have-cash-count">
                    ({{newTotal| currency:"$"}} /mo.)
                </strong>-->
                <div class=" row">
                    <div class="results-values-text col-12 ">
                        {{displayData.graphNeedVal | currency:'USD': "symbol": '1.0-0'}}
                    </div>
                </div>
                <div #resultsBar2 class=" row">
                    <div class="results-content-display-bar2 col-12" id="results-bar-2">
                    </div>
                </div>
                <div class=" row">
                    <div class="results-head-text col-12">
                        My savings goal
                    </div>
                </div>
                <div class=" row">
                    <div class="results-per-month-text col-12 ">
                        About {{displayData.youMayNeedMonthly | currency:'USD': "symbol": '1.0-0'}} /mo
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
