<div class="toggle-button row" (click)="toggleButtonState()" >
    <div class="col-1">
        <div class="symbols-wrapper ">
            <div #symbolMinus class="toggle-symbols mx-auto" id="symbol-minus">—</div>
            <div #symbolPlus class="toggle-symbols mx-auto" id="symbol-plus">+</div>
        </div>
    </div>
    <div class="col-10 sub-head-text">
        My Numbers
    </div>
</div>
