<div class="tool-tip-wrapper">
    <div #toolTipDialogueWrapper>
        <div #toolTipContentBox class="tool-tip-content-box tool-tip-text " [innerHTML]="toolTipContent">
        </div>
        <!--    <div #toolTipDialogueWrapper class="tool-tip-dialogue-wrapper">-->
        <div class="tool-tip-dialogue-wrapper">
            <!--        <div #toolTipContentBox class="tool-tip-content-box tool-tip-text " [innerHTML]="toolTipContent">-->
            <!--        </div>-->
            <div class="tool-tips-tip-icon">
                <svg width="100%" height="100%" viewBox="0 0 32 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                     style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
                     preserveAspectRatio="xMinYMin meet"
                >
                <g id="Artboard1" transform="matrix(0.959459,0,0,0.752688,-111.022,-75.8464)">
                    <g>
                        <g>
                            <g transform="matrix(1.04225,0,0,1.32857,102.871,-52.6336)">
                                <path d="M15.677,115.514L40.19,115.514L27.933,135L15.677,115.514Z"
                                      style="fill:rgb(215,237,247);" filter="url(#filter-2)"/>
                            </g>
                            <g transform="matrix(1.04225,0,0,1.32857,102.871,-52.6336)">
                                <path d="M15.677,115.514L40.19,115.514L27.933,135L15.677,115.514Z"
                                      style="fill:rgb(215,237,247);"/>
                            </g>
                        </g>
                    </g>
                </g>
                    <defs>
                    <filter x="-5.9%" y="-7.7%" width="111.7%" height="123.6%" filterUnits="objectBoundingBox"
                            id="filter-2">
                        <feOffset dx="0" dy="2.5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur stdDeviation="4" in="shadowOffsetOuter1"
                                        result="shadowBlurOuter1"></feGaussianBlur>
                        <feColorMatrix
                                values="0 0 0 0 0.188235294   0 0 0 0 0.219607843   0 0 0 0 0.258823529  0 0 0 0.23 0"
                                type="matrix" in="shadowBlurOuter1">

                        </feColorMatrix>
                    </filter>
                </defs>
            </svg>
            </div>
        </div>
    </div>
    <div #toolTipIconWrapper class="tool-tip-icon-wrapper" (click)="tipToggle()" (mouseenter)="switchOn()"
         (mouseleave)="switchOff()">
        <svg
                viewBox="0 0 16 16"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMinYMax meet"
        >
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Help-Icon">
                    <g>
                        <path d="M16,8 C16,12.4181818 12.4181818,16 8,16 C3.58181818,16 0,12.4181818 0,8 C0,3.58181818 3.58181818,0 8,0 C12.4181818,0 16,3.58181818 16,8 L16,8 Z"
                              id="Stroke-3215" fill="#004EA8"></path>
                        <path d="M6.22222222,5.62962963 C6.22222222,4.48474074 7.21703704,3.55555556 8.44444444,3.55555556 C9.67111111,3.55555556 10.6666667,4.48474074 10.6666667,5.62962963 C10.6666667,6.77590123 9.67111111,7.7037037 8.44444444,7.7037037 L8.44444444,9.77777778"
                              id="Stroke-3216" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M8.88888889,12 C8.88888889,12.2453333 8.68977778,12.4444444 8.44444444,12.4444444 C8.19911111,12.4444444 8,12.2453333 8,12 C8,11.7546667 8.19911111,11.5555556 8.44444444,11.5555556 C8.68977778,11.5555556 8.88888889,11.7546667 8.88888889,12 L8.88888889,12 Z"
                              id="Stroke-3217" stroke="#FFFFFF" stroke-linejoin="round"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
